pipeline/EMAIL ALERT FAIL.json
{
	"name": "EMAIL ALERT FAIL",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dropzone",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_standardized",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-87.eastus.logic.azure.com:443/workflows/680aa01a83904c0987bba5bf4ffeb2c2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=NW4BKrBKs7xjrzYmkpisZylwg-t1k4hDaB-TgjV9YzY",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Contr\\ent-Type": "application/json"
					},
					"body": {
						"value": "{\n\"PIPE LINE\":\"@{pipeline().Pipeline}\",\n\"ERROR MESSAGE\":\"@{activity('Copy data1').Error.message}\",\n\"DATAFACTORY NAME\":\"@{pipeline().DataFactory}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}